// sidebar
$menuText:#000000;
$menuActiveText:#409EFF;
$subMenuActiveText:#1e6eef; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#f7f7f7;
$menuHover:#d3dce6;

$subMenuBg:#f7f7f7;
$subMenuHover:#d3dce6;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
